{% extends "stumble/base.html" %}
{% load staticfiles %}
{% block head %}

    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'stumble/assets/css/map.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'stumble/assets/css/sidebar.css' %}" type="text/css">
    <script src="{% static 'stumble/assets/js/leaflet-geoip.js'%}"></script>
{% endblock %}
{% block content %}

    <div class="full-container">

        {% include "stumble/sidebar/base.html" %}

        {% include "stumble/leaflet/leaflet.html" %}
    </div>


{% endblock %}